* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}
body {
    background: #2B292E;
}
nav {
    background: #6F439C;
    width: 100%;
    color: white;
    height: 100px;
    display: flex;
    flex-direction: columns;
    align-items: center;
    justify-content: center;
}

.filter_bar::placeholder{
    color: black;
}
/* .filter_bar:hover::placeholder{
    color: rgb(138, 30, 30);
} */
h2{
    font-size: 15px;
}
.titel{
    margin-left: -80px;

}
.filter {
    background: #353239;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.filter_bar {
    width: 150px;
    height: 20px;
    padding-left: 3px;
    margin-right: 20px;
    border: 1px solid white;
    outline-color: black;
}
.input-container {
    display: flex;
    justify-content: center;
}
.todo {
    justify-content: center;
    align-items: center;
    margin: 10px ;
    outline-color: black;
    border: none;
    margin-left: -84px;
    padding-left: 10px;
}
.button {
    background:#7044a0;
    color: white;
    cursor: pointer;
    border: none;
    border-bottom: 2px solid #603a88;
    margin: 10px ;
    padding: 5px;
}
.button:hover{
    opacity: 85%;
}
.hide {
    color: white;
    padding:10px;
}
